/* default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
}

.navbar-container-content {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  min-height: 70px;
  text-wrap: nowrap;
  background-color: white; 
  max-width: 100%;
}

.navbar-container-content ul li a {
  color: green; 
  gap: 20px;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  list-style: none;
}

/* logo  */
.logo {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  width: 90px;         
  height: 90px;        
  object-fit: cover;   
}

.navLink a {
  color: green;
  position: relative;
  text-decoration: none;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: green;
  transition: width 0.4s ease-in-out;
}

.navLink:hover::after {
  width: 100%;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger101 {
  display: none;
}

.display-non {
  display: none;
}

.navlink {
  position: relative;
  text-decoration: none;
  color: #333; /* Change to your desired text color */
  padding: 10px 0;
}

.navlink.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px; 
  width: 100%;
  height: 2px; 
  background: green; 
  transform: scaleX(1.1);
  transition: transform 0.5s ease;
}

.navlink:not(.active)::after {
  transform: scaleX(10);
}

/* media queries */
@media screen and (max-width: 1400px),
       screen and (max-width: 1200px),
       screen and (max-width: 1024px),
       screen and (max-width: 992px),
       screen and (max-width: 780px),
       screen and (max-width: 768px),
       screen and (max-width: 600px),
       screen and (max-width: 480px),
       screen and (max-width: 360px) {

  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    border-radius: none;
    border: none;
    background: white;
    color: black;
    font-size: 30px;
  }

  .display-non {
    display: block;
  }

  .hamburger101 {
    display: block;
    color: black;
    font-size: 40px;
    margin-top: 20px;
  }

  .bar {
    background-color: #120f0b; 
    width: 20px;
    height: 3px;
    display: block;
    margin: 5px;
    transition: 0.3s ease-in-out;
    border-radius: none;
  }

  /* Adding active class to the bars */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */
  .navMenu {
    position: fixed; /* Changed to fixed */
    top: 0;
    left: -100%;
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    background-color: green;
    padding: 10px;
    transition: 0.7s ease-in-out;
    z-index: 1000; 
    gap: 10px;
  }

  .navbar-container-content ul li a {
    color: white; 
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    list-style: none;
  }

  .navMenu.active {
    left: 0;
  }

  .navMenu li {
    margin: 16px 0;
    color: green; 
  }

 
}
